 html, body {
    font-family: sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  
  h1 {
    font-size: 48px;
  }
  
  h2 {
    text-align: center;
    font-size: 2.6rem;
  }
  
  div {
    padding-right: 30px;
    height: 100%;
    width: 100%;
  }
  
  .container {
    display: flex;
  }
  
  .main {
    padding-left: 30px;
    min-width: 75%;
  }

  .data p {
    border: 3px groove saddlebrown;
    background-color: #FBE0B6;
    margin: 25px;
  }
    
   .nav {
    background-color: #FFEE00;
    max-width: 25%;
    min-width: 140px;
    flex: 1;
  }
  
  .nav h1 {
    padding-left: 20px;
  }  